.activebar-container{
    margin:0px;
    display: block; 
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height:auto;
    z-index: 9999;    
    overflow:hidden;
    overflow-x: hidden;
}
.activebar-container p {
    display:block;
    overflow:hidden;
}